@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "boxicons/css/boxicons.min.css"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --teagreen-100: #f2f5f0;
  --teagreen-200: #ecede9;
  --teagreen-300: #e4e6d9;
  --teagreen-400: #c0cfb2;
  --teagreen-500: #8ba888;
  --teagreen-600: #49654d;
  --teagreen-700: #253627;
  --teagreen-800: #131b14;
}

/* #F2F5F0 #ECEDE9 #E4E6D9 #C0CFB2 #8BA888 #49654D #253627 #131B14 */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* var(--prompt), */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--prompt);
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
  /* letter-spacing: 1px; */
}

h3 {
  font-weight: 100;
  /* letter-spacing: 1px; */
}

h4 {
  font-weight: 100;
  /* letter-spacing: 1px; */
}

p {
  font-weight: 200;
  /* letter-spacing: 1px; */
}
a {
  font-weight: 200;
  /* letter-spacing: 1px; */
}

/* Utilities */
@layer utilities {
  .container-max {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-scaled {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .section-gap {
    margin-bottom: 3rem;
  }
}

.custom-shadow {
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.scroll-text-left {
  writing-mode: vertical-rl;
}

/* .custom-gradient {
  background: var(--teagreen-800);
  background: linear-gradient(to top, var(--teagreen-800) 0%, var(--teagreen-400) 80%);
} */

.custom-gradient {
  background: rgb(35, 71, 40);
  background: linear-gradient(
    to top,
    rgba(35, 71, 40, 1) 0%,
    rgba(68, 147, 64, 1) 45%,
    rgba(129, 231, 60, 0.1461178221288515) 80%
  );
}

/* .swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
} */

/* Navbar Icon Circle Hover */
.nav-button {
  position: relative;
  display: inline-block;
  /* width: 40px;
  height: 40px; */
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.nav-button svg {
  font-size: 24px;
  color: black;
}

.nav-button .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg), translateX(-100%);
}

.nav-button circle {
  fill: none;
  stroke: var(--teagreen-300);
  stroke-width: 2;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  stroke-opacity: 0;
  transition: stroke-dashoffset 0.8s ease-in-out, stroke-opacity 0.2s;
}

.nav-button:hover circle {
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}

.nav-button:not(:hover) circle {
  stroke-dashoffset: 150;
  stroke-opacity: 0;
}
/* ----------------------- */