@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --teagreen-100: #F2F5F0;
  --teagreen-200: #ECEDE9;
  --teagreen-300: #E4E6D9;
  --teagreen-400: #C0CFB2;
  --teagreen-500: #8BA888;
  --teagreen-600: #49654D;
  --teagreen-700: #253627;
  --teagreen-800: #131B14;
}

/* #F2F5F0 #ECEDE9 #E4E6D9 #C0CFB2 #8BA888 #49654D #253627 #131B14 */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-prompt);
}

h1 {
  font-weight: 100;
}

h3 {
  font-weight: 600;
}

h4{
  font-weight: 400;
}

p, a {
  font-weight: 200;
}

.custom-shadow {
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
}